/* esercizio 1 */
.ex-1-square {
    transition: all 1s linear;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */
.ex-2-square {
    transition: all 1s linear;
}

.ex-2-square:active {
    width: 100%;
}

/* esercizio 3 */
.ex-3-square {
    transition: all 1s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */
.ex-4-square {
    transition: all 1s linear; 
}

.ex-4-square:hover {
    background: #f5f5f5;
}

/* esercizio 5 */
.ex-5-square {
    transition: all 1s linear;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
}

/* esercizio 6 */
.ex-6-img {
    transition: all 1s linear; 
}

.ex-6-img:hover {
    filter: grayscale(1)
}

/* esercizio 7 */
.ex-7-img {
    transition: all 1s linear; 
}

.ex-7-img:hover {
    filter: sepia(0.7)
}